<h1>Edit Event</h1>


<form action='/events/<%=@event.slug%>/edit' method="post"></br>
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name: <input type="text" name="event[name]" value="<%=@event.name%>" ></br>
  When is it? <input type="text" name="event[date]" value="<%=@event.date%>"></br>
  Where is it? <input type="text" name="event[location]" value="<%=@event.location%>" ></br>
  How much is it? <input type="text" name="event[cost]" value="<%=@event.cost%>" ></br>
  Tell us more about it! <textarea name="event[description]" value ="<%=@event.description%>"></textarea></br>

  <input type="submit" name="submit" value="Update"></br>
</form>
